*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body {

  background-image: linear-gradient(rgb(109, 184, 109),rgb(3, 3, 56));
    margin: 0;
}
 video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
 }
/*header*/
header {
  display: flex;
  background-color: rgb(5, 4, 49);
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: center;
  overflow: hidden;
  color: rgb(255, 255, 255);      
  justify-content: center;
}

/*nav*/
.navigation {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: rgb(2, 153, 14); 
  overflow: hidden;
  justify-content: center;


}

ul li {
  display: inline-flex;
  padding: 10px 4px;
  margin: 0%25px;
  color: rgb(255, 255, 255);
  font-style: none;
  

}
.navigation a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
}
.navigation a:hover{
  background-color:  rgb(5, 4, 49);
}

/* formulario de contacto */

.contactContainer{
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  background-image:linear-gradient(to bottom, rgba(5, 5, 100, 0.411), rgba(0, 128, 0, 0.664));
  width: 50%;
  height: 700px;
  margin: 50px;
  margin-left: 27%;
  padding: 30px;
  justify-content: center;
}
.contactContainer h1{
  font-size: 50px;
  color: white;
  font-weight: bold;
  font-family: "calibri";
}
.form{
  margin: 20px;
  width: 500px;
}

input{
  display: inline-block;
  width: 100%;
  font-size: 20px;
  border-radius: 5px;
  font-family: "calibri";
  margin: 15px;
}

#submt{
  border: none;
  border-radius: 8px ;
  height: 50px;
  font-size: 40px;
}

label{
  display:inline-block;
  font-family: "calibri";
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin: 15px;
}


.contactContainer button {
  width: 100%;
  color: #fff;
  margin-top: 20px;
background-color: #013b04;
border: 1px solid #000;
border-radius: 5px;
font-size: 16px;
font-weight: bold;
padding: 10px 20px;
cursor: pointer;
transition: all 0.5s ease-in-out;
}

.contactContainer button:hover {
  background-color: #17791f;
}

.contactContainer button:focus{
  outline: none;
}

.contactContainer button:active{
  transform: scale(0.9);
}

.contactContainer button:disabled {
  opacity: 0.5;
}


/*footer*/

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  padding: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 180px;
}

.footer-contenido {
  float: left;
  margin-left: 20px;
}

.footer-contenido p {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 50%px;
  
}
#redes{
  font-size: 30px;
  font-weight: bold;
}
.footer-derechos {
  float: right;
  margin-right: 20px;
  font-size: 20px;
  
}

#menuRedes{
  background-color: rgba(255, 255, 255, 0.0);
  border-radius: 20px;
}

.iconsRedes{
  margin: auto;
  display: block;
}
#icons {
  margin: auto;
}
