*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body {
    background-color: rgb(146, 146, 146);
}

/*header*/
header {
    display: flex;
    background-color: rgb(5, 4, 49);
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    color: rgb(255, 255, 255);      
    justify-content: center;
}

/*nav*/
.navigation {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: rgb(2, 153, 14); 
    overflow: hidden;
    justify-content: center;


}

ul li {
    display: inline-flex;
    padding: 4px;
    margin: 0%25px;
    color: rgb(255, 255, 255);
    font-style: none;
    

}
.navigation a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

/*login*/

.login-content {
    width: 50%;
    height: 300px;
    background: white;
    border-radius: 20px;
    margin: 35px;
    font-size: medium;
    a
    align-items: center;
}