*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


 video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
 }
/*header*/
header {
  display: flex;
  background-color: rgb(5, 4, 49);
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: center;
  overflow: hidden;
  color: rgb(255, 255, 255);      
  justify-content: center;
}

/*nav*/
.navigation {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: rgb(2, 153, 14); 
  overflow: hidden;
  justify-content: center;


}

ul li {
  display: inline-flex;
  padding: 10px 4px;
  margin: 0%25px;
  color: rgb(255, 255, 255);
  font-style: none;
  

}
.navigation a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
}
.navigation a:hover{
  background-color:  rgb(5, 4, 49);
}

/*login*/
.form-register {
    width: 400px;
    background-color: rgba(0, 0, 128, 0.5);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 10px 0px 80px rgba(0, 128, 0, 0.5);
}

.form-register h1 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(132, 207, 132);
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-register button {
    width: 100%;
    background-color: rgb(16, 17, 41);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;

}

#remind {
    appearance: none;
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
  }

  #remind:checked {
    background-color: #66bb6a;
    border: 3px solid #0fe71a;
  }

  label {
    margin-bottom: 20px;
    font-family: 'calibri';
    font-size: 18px;
    margin-left: 10px;
    font-weight: bold;
  }

  #remind:checked + label {
    color: #1fe21f;
  }

  .form-register a {
    font-family: 'calibri';
    font-size: 18px;
    font-weight: bold;
    color: #d1e703;
  }


 /*footer*/

.footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 180px;
}

.footer-contenido {
  float: left;
  margin-left: 20px;
}

.footer-contenido p {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 50%px;
  
}
#redes{
  font-size: 30px;
  font-weight: bold;
}
.footer-derechos {
  float: right;
  margin-right: 20px;
  font-size: 20px;
  
}

#menuRedes{
  background-color: rgba(255, 255, 255, 0.0);
  border-radius: 20px;
}

.iconsRedes{
  margin: auto;
  display: block;
}
#icons {
  margin: auto;
}
