*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body {
    background-image: url(body.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

/*header*/
header {
    display: flex;
    background-color: rgb(5, 4, 49);
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    color: rgb(255, 255, 255);      
    justify-content: center;
}

/*nav*/
.navigation {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: rgb(2, 153, 14); 
    overflow: hidden;
    justify-content: center;


}

ul li {
    display: inline-flex;
    padding: 10px 4px;
    margin: 0%25px;
    color: rgb(255, 255, 255);
    font-style: none;
    

}
.navigation a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
}
.navigation a:hover{
    background-color:  rgb(5, 4, 49);
}

/*carrusel*/

.slider-frame {
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    } 
  
  .slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out ;
  
  }
  
  .slider-frame li {
    list-style: none;
    width: 100%;
    }
  .slider-frame img {
    width: 100%;
  }
  
  @keyframes slide {
    0% {margin-left: -100%;}
    20%{margin-left: -100%;}
  
    25% {margin-left: -200%;}
    45%{margin-left: -200%;}
  
    50% {margin-left: -300%;}
    70%{margin-left: -300%;}
  
    75% {margin-left: -400%;}
    90%{margin-left: -400%;}
  }
/*video*/

.section-video {

    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    background-color: rgba(135, 159, 184, 0.5);
}

.video-inicio1 {
    background-color: #302f2f;
    margin: 40px;
    border-radius: 20px;
    margin: 40px;
    width: 40%;

}

.video-1{
    margin: 20px;
 }

.video-inicio2 {
 background-color: #302f2f;
 border-radius: 20px;
 width: 40%;
 margin: 40px;

 }
 .video-2{
    margin: 20px;
 }
 .video-inicio1 p {
    font-family: "calibri";
    color: rgb(31, 163, 5);
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    
 }
 .video-inicio2 p {
    font-family: "calibri";
    color: rgb(31, 163, 5);
    font-size: 30pxpx;
    font-weight: bold;
    margin: 20px;
    
 }
    

/*proyectos y circulares*/

.info {
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    padding: 20px;
    font-family: "calibri";
    color: rgb(255, 255, 255);
    font-size: 18px;
}


.circulares{
    background-color: rgb(125, 3, 240);
    border-radius: 20px;
    border: 4px solid rgb(17, 2, 58);
    width: 250px;
    height: auto;
    padding: 10px;
    margin: 10px;
}

.proyectos{
    background-color: rgb(211, 158, 44);
    width: 250px;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: 4px solid rgb(17, 2, 58);
    
}

.cronograma{
    background-color: rgb(240, 11, 3);
    width: 250px;
    height: auto;
    padding: 19px;
    margin: 10px;
    border-radius: 20px;
    border: 4px solid rgb(17, 2, 58);
}

.certificados {
    background-color: rgb(31, 240, 3);
    width: 250px;
    height: auto;
    padding: 10px;
    margin: 10px;  
    border-radius: 20px;
    border: 4px solid rgb(17, 2, 58);
}

.button-circulars {
    width: 100%;
    background-color: rgb(125, 3, 240);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;

}
.button-project {
    width: 100%;
    background-color:  rgb(211, 158, 44);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
.button-schedule {
    width: 100%;
    background-color: rgb(240, 11, 3);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.button-certificates {
    width: 100%;
    background-color:  rgb(31, 240, 3);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
.info a {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgba(194, 194, 202);
    border-radius: 8px;
    border: 2px solid #302f2f;
    padding-left: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 16px 0;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 10px 0px 80px rgba(252, 250, 250, 0.8);
}
.map {
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    width: 500px ;
    display: block;
    padding: 20px;
    background-color: rgba(41, 40, 40, 0.8); 
}
.map h2 {
    text-align: center;
    padding-bottom: 20px;
}
.maps {
    margin: auto;
    display: block;
}

.info a:hover {
    background-color:  rgb(218, 218, 224);
    
}

/*footer*/

.footer {
    background-color: #333;
    color: #fff;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 180px;
  }
  
  .footer-contenido {
    float: left;
    margin-left: 20px;
  }
  
  .footer-contenido p {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 50%px;
    
  }
  #redes{
    font-size: 30px;
    font-weight: bold;
  }
  .footer-derechos {
    float: right;
    margin-right: 20px;
    font-size: 20px;
    
  }
  
  .footer a {
    color: #ccc;
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #fff;
    text-decoration: underline;
  }

.iconsRedes{
    margin: auto;
    display: block;
}
#icons {
    margin: auto;
}
  