*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(colores.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

header {
    margin-right: 0px;
    display: flex;
    background-color: rgb(5, 4, 49);
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    color: rgb(255, 255, 255);      
    justify-content: center;
}
 /*menu*/
.navigation {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: rgb(2, 153, 14); 
    overflow: hidden;
    justify-content: center;


}

ul li {
    display: inline-flex;
    padding: 10px 4px;
    margin: 0%25px;
    color: rgb(255, 255, 255);
    font-style: none;
    

}
.navigation a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
}
.navigation a:hover{
    background-color:  rgb(5, 4, 49);
}

/*contenedor proyectos*/

.projectContainer{
    background-color: rgba(41, 40, 40, 0.3);
    display: flex;
}

.pileo{
    display: flex;
    background-color: rgba(255, 255, 255, 0.0);
    margin: 20px;
    width: 100%;
    height: 600px;
    
}
#galeria{
    width: 50%;
}

.pileo h2{
    font-family: "calibri";
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    justify-items: center;
}

.pileo img{
  margin-left: 50%; 
  transform: translateX(-50%);
  margin-top: 50px;
  margin-bottom: 50px;
}

.document{
    background-color: aquamarine;
    margin: 30px;
    
    

}

/*footer*/

.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 180px;
  }
  
  .footer-contenido {
    float: left;
    margin-left: 20px;
  }
  
  .footer-contenido p {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 50%px;
    
  }
  #redes{
    font-size: 30px;
    font-weight: bold;
  }
  .footer-derechos {
    float: right;
    margin-right: 20px;
    font-size: 20px;
    
  }
  
 #menuRedes{
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 20px;
 }

.iconsRedes{
    margin: auto;
    display: block;
}
#icons {
    margin: auto;
}
