*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "calibri";
}
body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    width: 100%;
    color: #333;
}

header{
    position: relative;
    display: flex;
    background-color: rgba(9, 2, 48);
    padding: 20px;
    justify-content: center;
    align-items: center;
}

header img{
    position: absolute;
    top: 25%;
    left: 50px;
    width: 100px;
}

header h1{
    text-align: center;
    te
}